.item {
  border: 1px solid #fff;
}

.container {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  background: #f00;
  row-gap: 1rem;

  & > .item1 {
  }

  & > .item3 {
    grid-column: 1 / -1;
  }
}