:root {
  --color-1: #ff1;
  --color-2: #aa1;
  --color-3: #00b;
  --color-4: #aaf;
  --color-5: #f00;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

svg {
  margin-top: 50%;
}

.shape {
  cy: 30;
  r: 20;
  animation: moveCircle 1250ms ease-in-out both infinite;
}

.shape:nth-child(1) {
  cx: 60;
  fill: var(--color-1);
}

.shape:nth-child(2) {
  cx: 120;
  fill: var(--color-2);
  animation-delay: 1000ms;
}

.shape:nth-child(3) {
  cx: 180;
  fill: var(--color-3);
  animation-delay: 2000ms;
}

.shape:nth-child(4) {
  cx: 240;
  fill: var(--color-4);
  animation-delay: 3000ms;
}

.shape:nth-child(5) {
  cx: 300;
  fill: var(--color-5);
  animation-delay: 4000ms;
}

@keyframes moveCircle {
  50% {
    cy: 60;
    r: 10;
  }
}

