.grid-container {
  display: grid; /* Enabling grid */
  grid-template-columns: 75px 75px 75px; /* three columns */
  grid-template-rows: 75px 75px; /* two rows */
  gap: 32px;

  & .card {
    background-color: peachpuff;
    border: 1px solid rgb(91, 91, 246);
  }
}