*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  height: auto;
  width: 80%;
  margin: 0 auto;
  border: 4px solid #aff;

  & h1 {
    color: #f00;
    text-align: center;
  }
}

form {
  & label:nth-child(1) {
    display: block;
  }
}

input {
  border: 2px solid tomato;
}

label {
  font-family: system-ui;
  font-size: 1.25rem;

  input {
    border: 2px dashed #00f;
  }
}

.heading h2 {
  color: tomato;

  /* Style next sibling without using & nesting selector. */
  + p {
    color: #fff;
    background-color: #000;
  }
}

.notices {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  gap: 0.4rem;
}

.notice {
  width: 90%;
  display: flex;
  justify-content: center;
  border-radius: 1rem;
  border: 1px solid #000;
  background-color: #ffc107;
  color: #000;
  padding: 1rem;

  .notice-heading::before {
    /* Equivalent to `.notice .notice-heading::before` */
    content: 'i ';
  }

  &.warning {
    /* Equivalent to `.notice.warning` */
    background-color: #d81b60;
    border-color: #d81b60;
    color: #fff;

    .warning-heading::before {
      /* Equivalent to `.notice.warning .warning-heading::before` */
      content: '! ';
    }
  }

  &.success {
    /* Equivalent to `.notice.success` */
    background-color: #004d40;
    border-color: #004d40;
    color: #fff;

    .success-heading::before {
      /* Equivalent to `.notice.success .success-heading::before` */
      content: '✓ ';
    }
  }
}

.wrapper {
  display: flex;
  margin-top: 1rem;
  gap: 0.4rem;
  font-family: system-ui;
}

.card {
  padding: 0.4rem;
  border: 1px solid #000;
  border-radius: 0.4rem;

   & h2 {
    /* Equivalent to `.card h2` */
    color: slateblue;

    .featured & {
      /* Equivalent to `:is(.card h2):is(.featured h2)` */
      color: tomato;
    }
  }
}